body {
    background-color: rgb(244, 244, 244);
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.45rem;
    line-height: 1.5;
    margin: 0;
  }

.item {
    font-size: .75rem;
    border-radius: 15px;
    padding: 2rem;
    margin: .5rem;
    min-width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.itemData {
    justify-content: flex-end;
}

.itemData button {
    padding: 6.5px 10px;   
    border: none;
    background-color: aquamarine;
    border-radius: 5px;
    cursor: pointer;
    justify-content: flex-end;
}

.itemData button:hover {
    background-color: rgb(109, 218, 182);
}

.itemData p {
    font-size: .75rem;
    text-align: center;
}

.itemImg img {
    border-radius: 12px;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 1rem;
}

.itemImg p:nth-child(2) {
    color: rgb(109, 109, 109);
    padding: 0 .5rem;
}

.items {
    width: 80%;
    height: max-content;
    margin: auto;
    padding: 7rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
}

.items img {
    width: 100%;
    height: auto;
} 
  
.page-header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 1.45rem;
}

.page-header a {
    color: aquamarine;
    display: block;
    padding: 0 0 0 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
}

.page-header h4 {
    padding-right: 5rem;
    margin: 0;
    border-right: 1px solid white;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
